using MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos;
namespace MyErp6.Application.Contracts.Caching
{
    /// <summary>
    /// Hợp đồng bộ nhớ đệm cho {{ feature_name_plural }}.
    /// </summary>
    public interface I{{ feature_name }}Cache : IMyErp6EntityCache<{{ model_name }}, long>
    {
    }
}
