using MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos;
using MyErp6.Domain.Shared.TPosRequest;
using MyErp6.Domain.Shared.TPosResult;

namespace MyErp6.Application.Contracts.{{ feature_name_plural }}
{
    /// <summary>
    /// Định nghĩa các thao tác đọc cho {{ feature_name_plural }}.
    /// </summary>
    public interface I{{ feature_name }}QueryService
    {
        /// <summary>
        /// Lấy {{ feature_lower }} theo mã định danh.
        /// </summary>
        Task<TPosResult<{{ model_name }}>> GetByIdAsync(long id);

        /// <summary>
        /// Lấy danh sách phân trang của {{ feature_name_plural }}.
        /// </summary>
        Task<TPosPagedResult<{{ model_name }}>> GetAllAsync({{ filter_service_params }}TPosPagedRequest pagedRequest, CancellationToken cancellationToken);
    }
}
