namespace MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos
{
    /// <summary>
    /// Data contract for {{ feature_name_plural }}.
    /// </summary>
    public class {{ upsert_dto_name }}
    {
    }
}
