namespace MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos
{
    /// <summary>
    /// Upsert data contract for {{ feature_name_plural }}.
    /// </summary>
    public class {{ upsert_dto_name }}
    {
{% for prop in upsert_properties %}
        /// <summary>
        /// Gets or sets the {{ split_words(prop[1])|lower }}.
        /// </summary>
{% if prop[2] == "true" %}        [System.ComponentModel.DataAnnotations.Required]
{% endif %}        public {{ prop[0] }} {{ to_pascal_case(prop[1]) }} { get; set; }{% if prop[3] %} = {{ prop[3] }};{% endif %}

{% endfor %}
    }
}
