using Microsoft.EntityFrameworkCore;
using Microsoft.EntityFrameworkCore.Metadata.Builders;
using TMT.MyErp6.Domain.Shared.Models;

namespace MyErp6.Data.Mappings
{
    /// <summary>
    /// Ánh xạ EF Core cho {{ feature_name_plural }}.
    /// </summary>
    public sealed class {{ feature_name }}Map : IEntityTypeConfiguration<{{ entity_name }}>
    {
        /// <summary>
        /// Cấu hình ánh xạ bảng {{ feature_lower }}.
        /// </summary>
        public void Configure(EntityTypeBuilder<{{ entity_name }}> builder)
        {
            builder.HasKey(x => x.Id);
        }
    }
}
