using TMT.MyErp6.Domain.Common;

namespace TMT.MyErp6.Domain.{{ feature_name_plural }}.Rules
{
    /// <summary>
    /// Quy tắc kinh doanh cho {{ feature_name_plural }}.
    /// </summary>
    public sealed class {{ feature_name }}BusinessRule : IBusinessRule
    {
        /// <summary>
        /// Lấy thông báo lỗi khi quy tắc bị vi phạm.
        /// </summary>
        public string Message => string.Empty;

        /// <summary>
        /// Trả về true khi quy tắc bị vi phạm.
        /// </summary>
        public bool IsBroken() => false;
    }
}
