namespace TMT.MyErp6.Domain.{{ feature_name_plural }}.Services
{
    /// <summary>
    /// Implements pure domain validation for {{ feature_name_plural }}.
    /// </summary>
    public sealed class {{ feature_name }}DomainService : I{{ feature_name }}DomainService
    {
    }
}
