using MyErp6.Application.Contracts.Behaviors;
using MyErp6.Domain.Shared.TPosResult;

namespace TMT.MyErp6.CommandUseCases.{{ feature_name_plural }}.Commands
{
    /// <summary>
    /// Deletes a {{ feature_lower }} by identifier.
    /// </summary>
    public record Delete{{ feature_name }}Command(long Id) : ICommand<TPosResult>;
}
