using FluentValidation;
using Microsoft.Extensions.Localization;
using MyErp6.Domain.Shared.Localization;
using TMT.MyErp6.CommandUseCases.{{ feature_name_plural }}.Commands;
using TmtCo.Localization;

namespace TMT.MyErp6.Application.{{ feature_name_plural }}.Validators
{
    /// <summary>
    /// Xác thực Update{{ feature_name }}Command.
    /// </summary>
    public sealed class Update{{ feature_name }}CommandValidator : AbstractValidator<Update{{ feature_name }}Command>
    {
        /// <summary>
        /// Xây dựng các quy tắc xác thực có bản địa hóa.
        /// </summary>
        public Update{{ feature_name }}CommandValidator(IStringLocalizer<ValidationMessages> L)
        {
            RuleFor(x => x.Id)
                .GreaterThan(0)
                .WithMessage(_ => L[ValidationMessageKeys.IdRequired]);
        }
    }
}
