using FluentValidation;
using Microsoft.Extensions.Localization;
using MyErp6.Domain.Shared.Localization;
using TMT.MyErp6.CommandUseCases.{{ feature_name_plural }}.Commands;
using TmtCo.Localization;

namespace TMT.MyErp6.Application.{{ feature_name_plural }}.Validators
{
    /// <summary>
    /// Validates delete requests for {{ feature_name_plural }}.
    /// </summary>
    public sealed class Delete{{ feature_name }}CommandValidator : AbstractValidator<Delete{{ feature_name }}Command>
    {
        /// <summary>
        /// Builds localized validation rules.
        /// </summary>
        public Delete{{ feature_name }}CommandValidator(IStringLocalizer<ValidationMessages> L)
        {
        }
    }
}
