        /// <summary>
        /// Executes {{ endpoint_name }} for {{ feature_name_plural }}.
        /// </summary>
        [{{ http_attribute }}{{ route_attribute }}]
        public async Task<{{ tpos_result_type }}> {{ endpoint_name }}Async({{ controller_params }})
            => await Mediator.Send(new {{ request_name }}({{ request_ctor_args }}), cancellationToken);
