namespace MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos
{
    /// <summary>
    /// Request DTO for the {{ endpoint_name }} endpoint.
    /// </summary>
    public class {{ input_dto_name }}
    {
{% for prop in input_properties %}
        /// <summary>
        /// Gets the {{ split_words(to_pascal_case(prop[1]))|lower }} value for this request.
        /// </summary>
        public {% if prop[2] == "true" %}required {% endif %}{{ prop[0] }} {{ to_pascal_case(prop[1]) }} { get; init; }

{% endfor %}
    }
}
