        /// <summary>
        /// Handles {{ request_name }}.
        /// </summary>
        public async Task<{{ tpos_result_type }}> Handle({{ request_name }} request, CancellationToken cancellationToken)
            => await {{ service_param_name }}.{{ service_method_name }}({{ handler_service_call_args }});
