        /// <summary>
        /// Executes {{ endpoint_name }} for {{ feature_name_plural }}.
        /// </summary>
        public async Task<{{ tpos_result_type }}> {{ service_method_name }}({{ service_params }})
        {
            throw new System.NotImplementedException();
        }
