using MyERP.Domain;

namespace TMT.MyErp6.Domain.Shared.Models
{
    /// <summary>
    /// Represents {{ split_words(feature_name)|lower }} data persisted by the ERP database.
    /// </summary>
    public class {{ entity_name }} : Entity
    {
        private {{ entity_name }}()
        {
        }
    }
}
