using MyERP.Domain;

namespace TMT.MyErp6.Domain.Shared.Models
{
    /// <summary>
    /// Đại diện cho dữ liệu {{ split_words(feature_name)|lower }} được lưu trữ bởi cơ sở dữ liệu ERP.
    /// </summary>
    public class {{ entity_name }} : Entity
    {
        private {{ entity_name }}()
        {
        }
    }
}
