using MyERP.Domain.Events;
using MyERP.Domain.Shared.Users;
using MyERP.Events.Bus.Entities;

namespace MyErp6.Domain.Shared.Events.{{ feature_name_plural }}
{
    /// <summary>
    /// Dữ liệu sự kiện domain được phát khi {{ feature_lower }} bị xóa.
    /// </summary>
    public sealed class {{ feature_name }}DeletedEventData<TEntity> : EntityDeletedEventData<TEntity>, IEntityDeletedEventData
    {
        /// <summary>
        /// Tạo dữ liệu sự kiện cho sự kiện xóa {{ feature_lower }}.
        /// </summary>
        public {{ feature_name }}DeletedEventData(string host, TEntity entity, CurrentUserDto user) : base(entity)
        {
            Host = host;
            Deletor = user;
        }

        /// <summary>
        /// Lấy thông tin người dùng gây ra sự kiện.
        /// </summary>
        public CurrentUserDto Deletor { get; set; }

        /// <summary>
        /// Lấy tên host nơi sự kiện được phát.
        /// </summary>
        public string Host { get;}
    }
}
