using MyErp6.Domain.Shared.TPosResult;
using MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos;
using TmtCo.Mediator;

namespace TMT.MyErp6.QueryUseCases.{{ feature_name_plural }}.Queries
{
    /// <summary>
    /// Lấy {{ feature_lower }} theo mã định danh.
    /// </summary>
    public record GetById{{ feature_name }}Query(long Id) : IRequest<TPosResult<{{ model_name }}>>;
}
