using Microsoft.AspNetCore.Authorization;
using Microsoft.AspNetCore.Mvc;
using MyErp6.Application.Contracts.{{ feature_name_plural }}.Dtos;
using MyErp6.Domain.Shared.TPosRequest;
using MyErp6.Domain.Shared.TPosResult;
using TMT.MyErp6.CommandUseCases.{{ feature_name_plural }}.Commands;
using TMT.MyErp6.QueryUseCases.{{ feature_name_plural }}.Queries;
using TmtCo.Mediator;

namespace MyErp6.HttpApi.Public.PublicControllers
{
    /// <summary>
    /// Các endpoint API cho {{ feature_name_plural }}.
    /// </summary>
    [ApiController]
    [Authorize]
    [Route("api/erp-core/v{version:apiVersion}/{{ kebab_feature_route }}")]
    public class {{ feature_name }}Controller(IMediator mediator) : PublicControllerBase(mediator)
    {
        /// <summary>
        /// Tạo mới {{ feature_lower }}.
        /// </summary>
        [HttpPost]
        public async Task<TPosResult<{{ model_name }}>> PostAsync([FromBody] {{ upsert_dto_name }} model, CancellationToken cancellationToken)
            => await Mediator.Send(new Create{{ feature_name }}Command(model), cancellationToken);

        /// <summary>
        /// Lấy {{ feature_lower }} theo id.
        /// </summary>
        [HttpGet("{id}")]
        public async Task<TPosResult<{{ model_name }}>> GetByIdAsync(long id, CancellationToken cancellationToken)
            => await Mediator.Send(new GetById{{ feature_name }}Query(id), cancellationToken);

        /// <summary>
        /// Lấy danh sách phân trang của {{ feature_name_plural }}.
        /// </summary>
        [HttpGet]
        public async Task<TPosPagedResult<{{ model_name }}>> GetAllAsync(CancellationToken cancellationToken, [FromQuery] TPosPagedRequest pagedRequest{{ filter_controller_params }})
            => await Mediator.Send(new GetAll{{ feature_name }}Query(pagedRequest{{ filter_ctor_args }}), cancellationToken);

        /// <summary>
        /// Cập nhật {{ feature_lower }} theo id.
        /// </summary>
        [HttpPut("{id}")]
        public async Task<TPosResult> Update{{ feature_name }}Async(long id, [FromBody] {{ upsert_dto_name }} model, CancellationToken cancellationToken)
            => await Mediator.Send(new Update{{ feature_name }}Command(id, model), cancellationToken);

        /// <summary>
        /// Xóa {{ feature_lower }} theo id.
        /// </summary>
        [HttpDelete("{id}")]
        public async Task<TPosResult> DeleteAsync(long id, CancellationToken cancellationToken)
            => await Mediator.Send(new Delete{{ feature_name }}Command(id), cancellationToken);
    }
}
